$color-main-acid: #00dd00;
$color-main-graphen: #101010;
$color-main-anthracite: #353535;
$color-main-ash: #909090;
$color-main-silver: #dddddd;
$color-main-snow: #fcfcfc;
$color-additional-alert: #f14f55;
