@font-face {
  font-family: 'Grandis';
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/GrandisRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Grandis';
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/GrandisMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Grandis Condensed';
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/GrandisCondensed-Medium.woff2') format('woff2');
}
