html,
body {
  font-size: 18px;
}

.container {
  flex: 0 0 auto;
  min-height: 500px;

  @media (min-width: $breakpoint-md) {
    min-height: 600px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.help-img {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: auto;
  display: block;
}

.padding-top {
  padding-top: 62px;
  @media (min-width: 400px) {
    padding-top: 70px;
  }

  @media (min-width: 1020px) {
    padding-top: 103px;
  }
}

.padding-bottom {
  padding-bottom: 20px;
}

.text-h1 {
  font-family: 'Grandis Condensed';
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;

  @media (min-width: $breakpoint-md) {
    line-height: 1.19;
  }
}

.text-big {
  font-family: 'Grandis';
  line-height: 1.33;

  @media (min-width: $breakpoint-md) {
    line-height: 1.5;
  }
}

.text-super {
  font-family: 'Grandis';
  font-weight: 500;
  line-height: 1.33;

  @media (min-width: $breakpoint-md) {
    line-height: 1.25;
  }
}

.text-main {
  font-family: 'Grandis';
  line-height: 1.5;

  @media (min-width: $breakpoint-md) {
    line-height: 1.6;
  }
}

.text-mammoth {
  font-family: 'Grandis Condensed';
  font-weight: 500;
  line-height: 1.2;

  @media (min-width: $breakpoint-md) {
    line-height: 1;
  }
}

/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active.cart-widget,
.fade-leave-active.cart-widget {
  position: relative;
  z-index: 1000;
}

.text-large {
  font-family: 'Grandis Condensed';
  line-height: 76px;
  font-weight: 400;

  @media (min-width: $breakpoint-md) {
    font-style: normal;
    font-weight: 500;
    line-height: 240px;
  }
}

@keyframes spin {
  0% {
    transform: translateX(100%) rotate(0deg);
  }

  100% {
    transform: translateX(100%) rotate(360deg);
  }
}
